@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tuffy&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word>span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}



/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 99px;
  font-weight: bolder;
  color: aquamarine;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.didILetter {
  font-size: 85px;
  font-weight: bold;
  color: greenyellow;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.didDTwoLetter {
  font-size: 56px;
  font-weight: normal;
  color: rgba(255, 0, 0, 0.824);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 72px;
  font-weight: normal;
  color: rgba(44, 187, 65, 0.2);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Monsieur La Doulaise';
}

.theHLetter {
  font-size: 44px;
  font-weight: bold;
  color: orange;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Tuffy';
}

.theELetter {
  font-size: 28px;
  font-weight: bolder;
  color: turquoise;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Helvetica';
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 14px;
  font-weight: normal;
  color: rgb(45, 188, 627);
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Gill Sans';
}

.frontendRLetter {
  font-size: 36px;
  font-weight: bold;
  color: firebrick;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
  ;
}

.frontendOLetter {
  font-size: 65px;
  font-weight: normal;
  color: honeydew;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Arial';
}

.frontendNLetter {
  font-size: 53px;
  font-weight: normal;
  color: rgba(255, 88, 234, 4.824);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Times New Roman';
}

.frontendTLetter {
  font-size: 18px;
  font-weight: 700px;
  color: rgb(45, 188, 627);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'sans-serif';
}

.frontendELetter {
  font-size: 27px;
  font-weight: 400px;
  color: greenyellow;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: Arial, Helvetica, 'sans-serif';
}

.frontendNTwoLetter {
  font-size: 56px;
  font-weight: 400px;
  color: maroon;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Arial';
}

.frontendDLetter {
  font-size: 39px;
  font-weight: normal;
  color: rebeccapurple;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Helvetica';
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 60px;
  font-weight: bold;
  color: gold;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.developerELetter {
  font-size: 39px;
  font-weight: bolder;
  color: goldenrod;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'sans-serif';
}

.developerVLetter {
  font-size: 14px;
  font-weight: normal;
  color: palevioletred;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Piazolla';
}

.developerETwoLetter {
  font-size: 28px;
  font-weight: bold;
  color: hotpink;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Special Gothic Expanded One';
}

.developerLLetter {
  font-size: 60px;
  font-weight: normal;
  color: blueviolet;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.developerOLetter {
  font-size: 99px;
  font-weight: 700px;
  color: burlywood;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: 'sans-serif';
}

.developerPLetter {
  font-size: 53px;
  font-weight: 700px;
  color: black;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla';
}

.developerEThreeLetter {
  font-size: 60px;
  font-weight: 400px;
  color: blanchedalmond;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Monsieur La Doulaise';
}

.developerRLetter {
  font-size: 27px;
  font-weight: 700px;
  color: brown;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'sans-serif';
}

/* TAKE word */

.takeTLetter {
  font-size: 39px;
  font-weight: normal;
  color: chartreuse;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
}

.takeALetter {
  font-size: 14px;
  font-weight: normal;
  color: chocolate;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazolla';
}

.takeKLetter {
  font-size: 60px;
  font-weight: 400px;
  color: cornsilk;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.takeELetter {
  font-size: 53px;
  font-weight: bold;
  color: cornflowerblue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Ceviche One';
}

/* UP word */

.upULetter {
  font-size: 14px;
  font-weight: 700px;
  color: crimson;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: 'sans-serif';
}

.upPLetter {
  font-size: 39px;
  font-weight: normal;
  color: cyan;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots';
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 27px;
  font-weight: bold;
  color: deeppink;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monsieur La Doulaise';
}

.gardeningALetter {
  font-size: 85px;
  font-weight: bolder;
  color: dodgerblue;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
}

.gardeningRLetter {
  font-size: 53px;
  font-weight: bolder;
  color: darkslateblue;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'sans-serif';
}

.gardeningDLetter {
  font-size: 18px;
  font-weight: 400px;
  color: fuchsia;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Monsieur La Doulaise';
}

.gardeningELetter {
  font-size: 22px;
  font-weight: bolder;
  color: orangered;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: 'Tuffy';
}

.gardeningNLetter {
  font-size: 66px;
  font-weight: bold;
  color: peru;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'sans-serif';
}

.gardeningILetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(45, 188, 627);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla';
}

.gardeningNTwoLetter {
  font-size: 72px;
  font-weight: normal;
  color: purple;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Ceviche One';
}

.gardeningGTwoLetter {
  font-size: 14px;
  font-weight: bolder;
  color: cadetblue;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 44px;
  font-weight: 700px;
  color: ghostwhite;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.becauseELetter {
  font-size: 99px;
  font-weight: bold;
  color: indigo;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Raleway Dots';
}

.becauseCLetter {
  font-size: 28px;
  font-weight: 400px;
  color: rgba(44, 187, 65, 0.2);
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.becauseALetter {
  font-size: 39px;
  font-weight: bold;
  color: rgb(255, 18, 627);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'sans-serif';
}

.becauseULetter {
  font-size: 27px;
  font-weight: 400px;
  color: rgb(255, 188, 27);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Special Gothic Expanded One';
}

.becauseSLetter {
  font-size: 85px;
  font-weight: bolder;
  color: rgb(55, 88, 627);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Tuffy';
}

.becauseETwoLetter {
  font-size: 60px;
  font-weight: bold;
  color: rgb(15, 98, 627);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Piazolla';
}

/* THEY word */

.theyTLetter {
  font-size: 39px;
  font-weight: 400px;
  color: rgb(15, 98, 67);
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'sans-serif';
}

.theyHLetter {
  font-size: 18px;
  font-weight: normal;
  color: rgb(45, 86, 627);
  text-decoration: underline;
  text-transform: none;
  font-family: 'Special Gothic Expanded One';
}

.theyELetter {
  font-size: 53px;
  font-weight: normal;
  color: rgb(75, 98, 627);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Ceviche One';
}

.theyYLetter {
  font-size: 44px;
  font-weight: normal;
  color: rgb(25, 255, 627);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots';
}

/* WANTED word */

.wantedWLetter {
  font-size: 72px;
  font-weight: 700px;
  color: rgb(15, 98, 627);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Monsieur La Doulaise';
}

.wantedALetter {
  font-size: 39px;
  font-weight: 400px;
  color: rgb(25, 255, 67);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla';
}

.wantedNLetter {
  font-size: 28px;
  font-weight: normal;
  color: thistle;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
}

.wantedTLetter {
  font-size: 27px;
  font-weight: 400px;
  color: tomato;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots';
}

.wantedELetter {
  font-size: 44px;
  font-weight: normal;
  color: wheat;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Tuffy';
}

.wantedDLetter {
  font-size: 39px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'sans-serif';
}

/* TO word */

.toTLetter {
  font-size: 60px;
  font-weight: normal;
  color: salmon;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Monsieur La Doulaise';
}

.toOLetter {
  font-size: 28px;
  font-weight: 700px;
  color: seashell;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Special Gothic Expanded One';
}

/* IMPROVE word */

.improveILetter {
  font-size: 39px;
  font-weight: normal;
  color: silver;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'sans-serif';
}

.improveMLetter {
  font-size: 85px;
  font-weight: 400px;
  color: rgb(55, 88, 627);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Ceviche One';
}

.improvePLetter {
  font-size: 99px;
  font-weight: bold;
  color: gainsboro;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Tuffy';
}

.improveRLetter {
  font-size: 60px;
  font-weight: normal;
  color: midnightblue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Raleway Dots';
}

.improveOLetter {
  font-size: 72px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Special Gothic Expanded One';
}

.improveVLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Gill Sans';
}

.improveELetter {
  font-size: 53px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Piazolla';
}

/* THEIR word */

.theirTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Monsieur La Doulaise';
}

.theirHLetter {
  font-size: 18px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Raleway Dots';
}

.theirELetter {
  font-size: 60px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Special Gothic Expanded One';
}

.theirILetter {
  font-size: 72px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Gill Sans';
}

.theirRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Tuffy';
}

/* ROOT word */

.rootRLetter {
  font-size: 85px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Gill Sans';
}

.rootOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Piazolla';
}

.rootOTwoLetter {
  font-size: 18px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Special Gothic Expanded One';
}

.rootTLetter {
  font-size: 99px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Tuffy';
}

/* SKILLS word */

.skillsSLetter {
  font-size: 60px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Ceviche One';
}

.skillsKLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Piazolla';
}

.skillsILetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Monsieur La Doulaise';
}

.skillsLLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Gill Sans';
}

.skillsLTwoLetter {
  font-size: 60px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Tuffy';
}

.skillsSTwoLetter {
  font-size: 18px;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: 'Special Gothic Expanded One';
}

/* SYMBOLS */

.hyphen {
  font-size: 49px;
  font-weight: normal;
  color: purple;
  text-decoration: line-through;
  text-transform: none;
  font-family: 'Tuffy';
}

.exclamation-mark {
  font-size: 65px;
  font-weight: normal;
  color: saddlebrown;
  text-decoration: overline;
  text-transform: none;
  font-family: 'impact';
}

.question-mark {
  font-size: 55px;
  font-weight: 400;
  color: lavenderblush;
  text-decoration: underline;
  text-transform: none;
  font-family: 'Special Gothic Expanded One';
}